@{
    ViewBag.Title = "Contact";
}

@Html.Partial("~/Views/Shared/_GenericHeader.cshtml")
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Salih Gedik<br />
    Istanbul, TR<br />
    <abbr title="Phone">P:</abbr>
    531.845.2790
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sg@salih.xyz">sg@salih.xyz</a><br />
</address>